      <row>
        <columns large="4">
          <center>
              <h5 class="bold text-center">{{col-1-title}}</h5>
              <img alt="{{col-1-img-alt}}" src="{{col-1-img-url}}">
              </center>
                <ul class="lg-list">
                <li>{{col-1-list-item-1}}</li>
                <li>{{col-1-list-item-2}}</li>
                <li>{{col-1-list-item-3}}</li>
                </ul>
        </columns>
        <columns large="4">
          <center>
              <h5 class="bold text-center">{{col-2-title}}</h5>
              <img alt="{{col-2-img-alt}}" src="{{col-2-img-url}}">
              </center>
          <ul class="lg-list">
          <li>{{col-2-list-item-1}}</li>
          <li>{{col-2-list-item-2}}</li>
          <li>{{col-2-list-item-3}}</li>
          </ul>
        </columns>
        <columns large="4">
            <center>
              <h5 class="bold text-center">{{col-3-title}}</h5>
              <img alt="{{col-3-img-alt}}" src="{{col-3-img-url}}">
              </center>
          <ul class="lg-list">     
            <li>{{col-3-list-item-1}}</li>
            <li>{{col-3-list-item-2}}</li>
            <li>{{col-3-list-item-3}}</li>
          </ul>
        </columns>
      </row>