  <callout class="secondary-white">
      <row><columns>  
    <h2 class="bold">Check out our blog</h2>
      </columns></row>
    <row>
      <columns large="4">
        <img src="http://placehold.it/200x200" >
       <a href="http://google.com">How long does a background check take?</a>
       <spacer size="20"></spacer>
      </columns>
      <columns large="4">
        <img src="http://placehold.it/200x200">
        <a href="http://google.com">How to do a background check?</a>
        <spacer size="20"></spacer>
       </columns>
       <columns large="4">
        <img src="http://placehold.it/200x200">
        <a href="http://google.com">Why do employers check credit?</a>
        <spacer size="20"></spacer>
       </columns>
    </row>
  </callout>