        <row>
          <columns large="12">
            <center>
            <img  alt="{{feat-img-alt}}" class="mobile-img" width=150 height=150 src="{{feat-img-url}}">
            </center>
          </columns>
        </row>
      <row>
        <columns class="cta-text" large="12">
          <h1 class="text-center bold mobile-h1">{{feat-title}}</h1>
            <p>{{feat-desc}}<p>
           {{#if feat-desc-detail}} <p class="padding-bottom:0; margin-bottom:0;">{{feat-desc-detail}}</p>{{/if}}
        </columns>
      </row>
      {{#if cta-btn-txt}} 
            <row>
            <columns small="12" large="12">
              <spacer size="10"></spacer>
               <button class="expanded large expand blue-outline" href="{{cta-btn-link}}" target="_blank"><span class="bold all-caps">{{cta-btn-txt}}</span></button>
              <spacer size="20"></spacer>
            </columns>
            </row>
      {{/if}}

      {{#if post-cta-paragraph-txt}} 
      <row><columns><p>{{post-cta-paragraph-txt}}</p></columns></row>
      {{/if}}