 <wrapper class="secondary dark">
      <spacer size="16"></spacer>
      <row class="footer text-center ">
        <columns large="6">
          <img alt="Transunion Sharable Hires" src="https://gallery.mailchimp.com/d5f3b54c6da103e5b391560f5/images/e8950752-9171-4e66-b27e-c9bb49375528.png" alt="">
          <p class="copywright"> ©2018 Transunion Screening solutions All right reserved. </p>
          <p>Contact Us: 1-888-710-0272</p>
          <menu>
              <item><img src="https://gallery.mailchimp.com/d5f3b54c6da103e5b391560f5/images/36dc4fd8-af45-40bc-9458-851752c3f01d.png" alt="Facebook"></item>
              <item><img src="https://gallery.mailchimp.com/d5f3b54c6da103e5b391560f5/images/5a2e8b18-a948-4c82-8c91-23771146e675.png" alt="Twitter"></item>
              <item><img src="https://gallery.mailchimp.com/d5f3b54c6da103e5b391560f5/images/18a34f26-6d5b-4e3d-b85f-deab8789b209.png" alt="YouTube"></item>
              <item><img src="https://gallery.mailchimp.com/d5f3b54c6da103e5b391560f5/images/a0a210b3-00b5-43be-8c56-17bfde0b176e.png" alt="Google"></item>
              <item><img src="https://gallery.mailchimp.com/d5f3b54c6da103e5b391560f5/images/283ec0b0-d762-404b-b40b-e999747ed7ad.png" alt="LinkedIn"></item>
            </menu>


        </columns>
        <columns large="4">
          <spacer size="10"></spacer>
          <p class="address">
            6430 S. Fiddler’s Green <br/> Circle Suite# 500 Greenwood Village, CO 80111
          </p>
        </columns>
        <custom name="opencounter" type="tracking">
        <spacer size="16"></spacer>
      </row>

    </wrapper>