<row><columns>  
    <h3 class="bold">{{module-title}}</h3>
  </columns></row>
  <row class="collapse">
    <columns class="show-for-large">
      <img alt="3 Easy Steps" width="600" src="https://gallery.mailchimp.com/d5f3b54c6da103e5b391560f5/images/63443c98-f6b1-44bd-8bad-ce9cdc56c978.png">
    </columns>
  </row>
  <row> 
    <columns large="4" valign="top">
      <span class="hide-for-large">
      <center>
      <img alt="Step 1"  src="https://gallery.mailchimp.com/d5f3b54c6da103e5b391560f5/images/25a54290-8c80-4044-bb4f-f978d0858701.png">
      </center>
      </span>
      {{#if step-1-title}}
      <p class="bold">{{step-1-title}}</p>
      {{/if}}
      {{#if step-1-desc}}
      <p>{{step-1-desc}}</p>
      {{/if}}
    </columns>
    <columns large="4">
      <span class="hide-for-large">
        <center>
        <img alt="Step 2"  src="https://gallery.mailchimp.com/d5f3b54c6da103e5b391560f5/images/10c4e174-dd9d-45ba-a224-67e16f8506ed.png">
        </center>
        </span>
        {{#if step-2-title}}
        <p class="bold">{{step-2-title}}</p>
        {{/if}}
        {{#if step-2-desc}}
        <p>{{step-2-desc}}</p>
        {{/if}}
    </columns>
    <columns large="4">
      <span class="hide-for-large">
        <center>
        <img alt="Step 3"  src="https://gallery.mailchimp.com/d5f3b54c6da103e5b391560f5/images/ce1d9aa9-f887-41a9-950d-a910552b07a5.png">
        </center>
        </span>
      {{#if step-3-title}}
      <p class="bold">{{step-3-title}}</p>
      {{/if}}
      {{#if step-3-desc}}
      <p>{{step-3-desc}}</p>
      {{/if}}
    </columns>
  </row>